@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DOS';
  src: url('../fonts/Fixedsys500c.eot');
  src: local('☺'), url('../fonts/Fixedsys500c.woff') format('woff'), url('../fonts/Fixedsys500c.ttf') format('truetype'), url('../fonts/Fixedsys500c.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/space-mono-v10-latin-regular.woff2') format('woff2'),
       url('../fonts/space-mono-v10-latin-regular.woff') format('woff');
}

:root { font-family: 'DOS', monospace; }

.font-decorative { font-family: 'Space Mono', monospace; }

// $theme-border-width: 2px;
// $theme-gutter: 4px;
// $icon-size: 25px;

// $white: #fff;
// $black: #000;
// $amber: #ffb000;
// $amber-dark: #cd8d04;
// $background: #0f1f17;


// $green-100: #79fba2;
// $green-200: #6ee38c;
// $green-300: #4fa467;
// $green-400: #3c7a4e;
// $green-500: #3b724b;
// $green-600: #1f2d23;



// $dark: $green-500;
// $light: #c2fdd4;

// $primary: $green-100;
// $secondary: $green-300;
// $danger: #c87e4c;

// $enable-negative-margins: true;

// $font-family-sans-serif: 'DOS', monospace;
// $font-family-monospace: $font-family-sans-serif;
// $body-bg: $background;
// $body-color: $green-200;

$body-bg: #0f1f17;

html {
  overflow: hidden;
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: $body-bg;
}

.bg-pattern {
  background: linear-gradient(#888 50%, #000 0);
  background-repeat: repeat-y;
  background-size: 100% 4px;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  position: fixed;
  right: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  color: #6ee38c;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    @apply bg-pattern;
  }
}

@layer components {
  .disabled, *:disabled {
    @apply pointer-events-none opacity-70;
  }

  .arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid currentColor;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  // .btn {
  //   @apply flex items-center justify-center rounded-md px-3.5 py-2.5 text-sm font-semibold shadow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
  // }

  // .btn-primary {
  //   @apply btn text-white bg-primary-600 hover:bg-primary-500 focus-visible:outline-primary-600;
  // }

  // .btn-danger {
  //   @apply btn text-white bg-red-600 hover:bg-red-500 focus-visible:outline-red-600;
  // }

  // .btn-submit {
  //   @apply bg-primary-600 hover:bg-primary-500 focus-visible:outline-primary-600 text-white rounded-[14px] px-5 h-[50px] text-sm font-semibold disabled:pointer-events-none disabled:select-none disabled:opacity-80 w-full capitalize flex items-center justify-center;
  // }

  .btn {
    @apply inline-flex items-center py-1.5 px-3.5 mb-2 text-xl font-normal cursor-pointer select-none hover:brightness-125 transition-colors duration-300;
    line-height: 1.25;
    &:not(.btn-link) {
      box-shadow: 10px 10px 0 #000000;
    }
    &.btn-link {
      text-decoration: none !important;
      &:focus {
        box-shadow: none;
      }
    }
    &:before {
      content: '[';
      margin-right: 5px;
      font-size: 1.2em;
    }
    &:after {
      content: ']';
      margin-left: 5px;
      font-size: 1.2em;
    }
    &.btn-primary:disabled,
    &.btn-primary.disabled {
      @apply text-primary-300;
    }
  }

  .link-dashed {
    @apply underline decoration-dashed decoration-[0.5px] underline-offset-4 cursor-pointer decoration-[color-mix(in_srgb,currentColor_60%,transparent)] hover:decoration-current;
  }

  .link-underlined {
    @apply underline decoration-[0.5px] underline-offset-2 cursor-pointer decoration-[color-mix(in_srgb,currentColor_60%,transparent)] hover:decoration-current;
  }

  .stats-title {
    @apply grow text-sm font-medium leading-6 text-slate-500 dark:text-slate-400;
  }

  .stats-value {
    @apply grow text-sm text-right font-medium leading-6 text-slate-900 dark:text-slate-300 text-ellipsis overflow-hidden;
  }

  .stats-link {
    @apply text-ellipsis overflow-hidden underline decoration-slate-300 dark:decoration-slate-600 underline-offset-4 cursor-pointer;
  }

  .rounded-2\.5 {
    border-radius: 10px;
  }

  .transition-height {
    transition: height 0.3s;
  }
}

.expand-height-enter-active,
.expand-height-leave-active {
  transition: height 3s;
  overflow: hidden;
}

.expand-height-enter,
.expand-height-leave-to {
  height: 0;
}

@mixin repeat($character, $n) {
  $c: '';
  @for $i from 1 through $n {
    $c: $c + $character;
  }
  content: $c;
}
.copyright {
  @apply flex items-center;
  & > div:first-child {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    direction: rtl;
    &:before {
      @include repeat('<', 100);
    }
  }
  & > div:last-child {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    &:after {
      @include repeat('<', 100);
    }
  }
}

.inverted {
  @apply bg-primary-300 relative inline-block leading-none;
  color: $body-bg;
  padding: 0.2rem 0.5rem 0;
  margin-bottom: 0.2rem;
}

.text-spinner {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 10px;
  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: spin-text 2s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: 1s;
    }
    &:nth-child(4) {
      animation-delay: 1.5s;
    }
  }
}
@keyframes spin-text {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}

@function dot-image-url($color) {
  @return url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='2' fill='" + $color + "' /%3E%3C/svg%3E%0A");
}

.title-dotted {
  display: inline-block;
  background-color: #3c7a4e;
  padding: 0 15px;
  color: #79fba2;
  &::before{
    content: "";
    position: absolute;
    inset: 5px;
    background-image: dot-image-url(#1f2d2380);
    background-repeat: repeat;
    z-index: -1;
  }
}
